
/*Styles for the title*/
.h1 {
    text-align: center;
    border: solid black;
    font-size: 45px;
    background-color:  rgb(212, 181, 186);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  /* Background colour*/
body {
    background-color:papayawhip;
  }

  /*size and font of the intro*/
.lorem{
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*size and format of the text*/
.Oily {
  border: solid black;
  text-align: center;
  width: 450px; height: 420px;
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

/*size and positioning of the picture*/
.oily-pic{
  width: 450px; height: 420px;
  position: relative;
  left: 600px;
  bottom: 450px;
}

/*size and format of the text*/
.Acnee{
  border: solid black;
  text-align: center;
  font-size: 30px;
  width: 450px; height: 420px;
  position: absolute;
  top: 1999px;
  bottom: 250px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*size and positioning of the picture*/
.Acnee-pic{
  width: 450px; height: 420px;
  position: absolute;
  bottom: 250px;
  left: 606px;
  top: 1999px;
}

/*size and format of the text*/
.Dry{
  border: solid black;
  text-align: center;font-size: 20px;
  width: 450px; height: 420px;
  position: absolute;
  top: 990px;
  left: 606px;
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*size and positioning of the picture*/
.Dry-pic{
  width: 450px; height: 420px;
  position: absolute;
  left: 15px;
  top: 1030px;
}

/*size and format of the text*/
.Pimples{
   border: solid black;
  text-align: center;
  font-size: 30px;  
  width: 450px; 
  height: 420px;
  position: absolute;
  top: 1445px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*size and positioning of the picture*/
.pimple-skin{
  width: 450px; height: 420px;
  position: absolute;
  top: 1470px;
  left: 606px;

}
/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(201, 177, 145);
    border: solid black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(77, 160, 237);
    color: rgb(231, 49, 186);
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 22px;
    background-color: rgb(255, 255, 255);
  }
  

   
  